@charset "utf-8";

$tablet-and-up: 700px;
$margin-bottom: 200px;

* {
    box-sizing:border-box;
}

body {
  font-family: menlo;
  font-size:12px;
  line-height:1.5;
  padding:10px;
  background: #000;
  color:#fff;

  @media screen and (min-width: $tablet-and-up) {
  	padding:30px;
  }
}

a {
  color: #fff;

	&:hover {
		text-decoration: none;
		// color: #00ff78;
	}
}

img {
	max-width: 100%;
	height:auto;
}

.me {
	margin-bottom: $margin-bottom;

	@media screen and (min-width: $tablet-and-up) {
    
  }
}

.work {
  .item {
    margin-bottom: $margin-bottom;

  	img {
  	  text-align: center;
      display: inline;
    }
   
    .info {
      
    }
  }
}


