---
title: Alex Miles
---

<p>Troll</p>

<div class="me">
	<p>
		Alex Miles<br/>
		Designer &amp; Developer<br/><br/>

		<a href="mailto:howdy@alexmilesdesign.com">howdy@alexmilesdesign.com</a><br/>
		+49 157 35248642<br/><br/>

		<a target="_blank" href="http://twitter.com/milesalex">Twitter</a> <br/>
		<a target="_blank" href="http://dribbble.com/milesalex">Dribbble</a> <br>
		<a target="_blank" href="http://github.com/milesalex">Github</a> <br>
		<a target="_blank" href="http://travel.alexmilesdesign.com">Travel Blog</a> <br>
		<a href="#_" class="test">Test</a> <br>
	</p>
</div>

<div class="work">
  <div class="item">
    <a href="http://readmill.com"><img src="images/readmill-marketing2.png"></a>
    <div class="info">
      <p>Readmill marketing website</p>
    </div>
  </div>  
  
  <div class="item">
    <a href="http://readmill.com"><img src="images/readmill-marketing2.png"></a>
    <div class="info">
      <p>Hello dude!</p>
    </div>
  </div>  
  
  <div class="item">
    <a href="http://readmill.com"><img src="images/readmill-marketing2.png"></a>
    <div class="info">
      <p>Readmill marketing website</p>
    </div>
  </div>

  <div class="item">
    <a href="http://readmill.com"><img src="images/readmill-marketing2.png"></a>
    <div class="info">
      <p>Readmill marketing website</p>
    </div>
  </div>  
</div>

