---
title: Alex Miles
---
<pre>
Alex Miles
Designer &amp; Developer

<a href="mailto:howdy@alexmilesdesign.com">howdy@alexmilesdesign.com</a>
+49 157 35248642

<a target="_blank" href="http://twitter.com/milesalex">Twitter</a>
<a target="_blank" href="http://dribbble.com/milesalex">Dribbble</a>
<a target="_blank" href="http://github.com/milesalex">Github</a>
<a target="_blank" href="http://travel.alexmilesdesign.com">Travel Blog</a>
<a target="_blank" href="https://readmill.com/milesalex">Readmill</a>
<a target="_blank" href="http://www.rdio.com/people/milesalex/">Rdio</a>
</pre>
