---
title: Alex Miles
---

<p>
	Alex Miles<br/>
	Designer &amp; Developer<br/><br/>

	<a href="mailto:howdy@alexmilesdesign.com">howdy@alexmilesdesign.com</a><br/>
	+49 157 35248642<br/><br/>

	Twitter <br/>
	Dribbble <br>
	Github <br>
	Travel Blog
</p>
