---
title: Alex Miles
---
<pre>
Alex Miles
Designer &amp; Developer

<a href="mailto:howdy@alexmilesdesign.com">howdy@alexmilesdesign.com</a>
(415) 309-1662

<a href="http://twitter.com/milesalex">Twitter</a>
<a href="http://dribbble.com/milesalex">Dribbble</a>
<a href="http://github.com/milesalex">Github</a>
<a href="http://travel.alexmilesdesign.com">Travel Blog</a>
<a href="https://readmill.com/milesalex">Readmill</a>
<a href="http://www.rdio.com/people/milesalex/">Rdio</a>
</pre>
